
#container{
    margin: auto;
    padding: 5px 0;
    min-height: 100%;
    display: block;
}

.userName {
    left: 0;
    display: inline;
}

.globalTools {
    right: 0;
    float: right;
    width: 345px;
}

header{
    height: 35px;
}

/*---------------------------------------------*/
/*button HOR*/
/*---------------------------------------------*/

ul.btn {
    margin: 0;
    padding: 4px;
}
ul.btn li {
    display: inline;
    margin-right: 5px;
    border: 1px;
    padding: 3px;
    border-radius: 5px;
}

/*---------------------------------------------*/
/*menu VERT*/
/*---------------------------------------------*/

ul.list {
    margin: 0;
    padding: 4px;
}
ul.list li {
    margin-right: 5px;
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
}
.console-menu{
    width: 150px;
}

/*---------------------------------------------*/
/*BUTTON*/
/*---------------------------------------------*/

.field {
    display: block;
    width: 250px;
}

.field label{
    display: block;
    float: left;
    width: 30%;
    vertical-align: bottom;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-tool {
    padding-top: 10px;
    padding-bottom: 10px;
}

