
.hide{
    visibility: hidden;
}

#navigation {
    background: #fff url(../icons/button/navmenu_bg.png) repeat-x 0 100%;
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0 0 18px;
    height: 50px;
}

/*html, body, form {*/
    /*min-height: 100%;*/
    /*position: relative;*/
/*}*/

/*body {*/
    /*background: #fefefe;*/
    /*color: #000;*/
    /*height: 100%;*/
    /*font: normal 100% "MergeLight", Arial, Helvetica, sans-serif;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*font-smoothing: antialiased;*/
    /*text-rendering: optimizeLegibility;*/
/*}*/

/*body {*/
    /*display: block;*/
    /*margin: 8px;*/
/*}*/

/*#container {*/
    /*margin: auto;*/
    /*padding: 30px 0;*/
    /*min-height: 100%;*/
/*}*/

/*header {*/
    /*height: 124px;*/
/*}*/

/*header, nav, #subheader, #contentarea, footer {*/
    /*width: 990px;*/
    /*margin: 0 auto;*/
/*}*/

/*header, nav{*/
    /*display: block;*/
/*}*/

/*div{*/
    /*font-size: 1em;*/
/*}*/

/*.fb_reset {*/
    /*background: none;*/
    /*border: 0;*/
    /*border-spacing: 0;*/
    /*color: #000;*/
    /*cursor: auto;*/
    /*direction: ltr;*/
    /*font-family: "lucida grande", tahoma, verdana, arial, sans-serif;*/
    /*font-size: 11px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: normal;*/
    /*letter-spacing: normal;*/
    /*line-height: 1;*/
    /*margin: 0;*/
    /*overflow: visible;*/
    /*padding: 0;*/
    /*text-align: left;*/
    /*text-decoration: none;*/
    /*text-indent: 0;*/
    /*text-shadow: none;*/
    /*text-transform: none;*/
    /*visibility: visible;*/
    /*white-space: normal;*/
    /*word-spacing: normal;*/
/*}*/

/*#logo {*/
    /*float: left;*/
    /*width: 240px;*/
    /*display: block;*/
/*}*/

/*div,span,a,img,ul{*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*font-size: 1em;*/
/*}*/

/*a:visited {*/
    /*color: #1F769F;*/
/*}*/

/*a {*/
    /*text-decoration: none;*/
    /*color: #2e588b;*/
/*}*/

/*a {*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
    /*outline-size: 0px;*/
    /*outline-style: none;*/
    /*outline-color: #000;*/
/*}*/

/*img, form, fieldset {*/
    /*border: 0;*/
    /*vertical-align: bottom;*/
/*}*/

/*.globalTools {*/
    /*float: right;*/
    /*width: 453px;*/
/*}*/

/*.globalTools .buttons {*/
    /*padding: 0 0 12px 1px;*/
/*}*/

/*ul, ol {*/
    /*list-style: none;*/
/*}*/

/*.globalTools .buttons li a {*/
    /*display: block;*/
    /*background: #fff;*/
    /*border: 1px solid #ccc;*/
    /*color: #304b6c;*/
    /*font-weight: bold;*/
    /*background: url(../icons/button/global_button_bg.png) repeat-x 0 0;*/
/*}*/

/*.clearfix:before, .clearfix:after {*/
    /*content: "";*/
    /*display: table;*/
/*}*/

/*.globalTools .icons li.home-icon a {*/
    /*background: url(../icons/button/btn_home.png) no-repeat 0 0;*/
    /*width: 25px;*/
    /*height: 24px;*/
/*}*/

/*.globalTools .icons li.contact-icon a {*/
    /*background: url(../icons/button/btn_email.png) no-repeat 0 0;*/
    /*width: 35px;*/
    /*height: 24px;*/
/*}*/

/*.globalTools .icons li.facebook-icon a {*/
    /*background: url(../icons/button/btn_facebook.png) no-repeat 0 0;*/
    /*width: 35px;*/
    /*height: 24px;*/
/*}*/

/*.globalTools .icons li.insta-icon a {*/
    /*background: url(../icons/button/insta_icon.png) no-repeat 0 0;*/
    /*width: 35px;*/
    /*height: 24px;*/
/*}*/

/*.globalTools .icons li a {*/
    /*display: block;*/
/*}*/

/*.globalTools .icons li.home-icon {*/
    /*width: 25px;*/
    /*height: 24px;*/
/*}*/

/*.globalTools .icons li {*/
    /*display: block;*/
    /*float: left;*/
    /*text-indent: -999em;*/
    /*margin: 0 0 0 12px;*/
/*}*/

/*.globalTools .icons {*/
    /*float: left;*/
    /*width: 164px;*/
/*}*/


/*.globalTools .middle {*/
    /*width: 410px;*/
    /*float: right;*/
/*}*/

/*.clearfix {*/
/*}*/