
body{
    margin: 0;
    background-color: gainsboro;
}

header{
    width: 100%;
    background: #ff9933;
}

.content{
    margin-left: 10px;
}

/*---------------------------------------------*/
/*base-form*/
/*---------------------------------------------*/
.container-panel{
    margin-top: 15px;
}

.btn-message{
    padding: 5px;
    display: inline;
}

/*---------------------------------------------*/
/*login-form*/
/*---------------------------------------------*/

.login-form{
    width: 300px;
    padding-bottom: 30px;
}

.login-form .acceptedMsg{
    float: right;
    display: inline;
    margin-top: 12px;
    margin-right: 10px;
}

.field input{
    float: right;
    margin-right: 50px;
}

.login-form .submit-btn {
    width: 155px;
    display: inline;
    margin-top: 10px;
}

.field,
.buttons,
.buttons-panel{
    margin-top: 10px;
}

.buttons-panel .element{
    float: right;
    width: 205px;
}

.buttons{
    margin-right: 50px;
    float:right;
}

#acceptedMsg{
    display: inline;
    width: 30px;
    padding-left: 16px;
}

.active-msg{
    background-image: url("../img/check_16x16.png");
    background-repeat: no-repeat;
}

/*---------------------------------------------*/
/*panel*/
/*---------------------------------------------*/

.panel-top{
    margin-top: 10px;
}
.panel{
    width: 70%;
    height: 30%;
}

.panel .message{
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel button{
    width: 65px;
    height: 25px;
}

.panel select{
    width: 180px;
    height: 25px;
}

.panel table{
    margin-top: 10px;
    width: 450px;
    border-collapse: collapse;
    border: 2px solid white;
}

.panel table, td, th {
    padding: 3px;
    border: 1px solid dimgrey;
    text-align: left;
}

.header-name{
    display: inline;
    float: left;
    width: 25px;
    font-size: 30px;
    margin-left: 15px;
    font-weight: bold;
    padding-top: 1px;
}

.header-logo {
    width: 289px;
    height: 45px;
    margin-left: 120px;
    background-image: url("../img/citylogo.png");
    background-repeat: no-repeat;
}

.header-menu{
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 20px;
}

.header-menu .welcome{
    display: inline;
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    margin-right: 10px;
    padding-top: 4px;
}

.welcome a{
    text-decoration: none;
    color: inherit;
}

.header-menu .item{
    display: inline;
    float: left;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px;
}

.item a{
    text-decoration: none;
    color: black;
}

.header-intro{
    height: 21px;
    font-size: 13px;
    background-color: darkgray;
    padding-left: 10px;
}

/*---------------------------------------------*/
/*BUTTONS-HEADER-MENU*/
/*---------------------------------------------*/

.btn{
    height: 25px;
    padding-top:2px;
    font-weight: bold;
}

.login-btn{
    background-image: url("../icons/login.jpg");
    background-repeat: no-repeat;
    padding-left: 32px;
}

.logout-btn{
    background-image: url("../icons/logout.jpg");
    background-repeat: no-repeat;
    padding-left: 32px;
}

.lined{
    border-bottom: dashed 1px;
}

/*---------------------------------------------*/
/*FOOTER*/
/*---------------------------------------------*/

footer{
    width: 100%;
    height: 80px;
    background-color: #888888;
    position: absolute;
    bottom: 0;
    border-top:solid 2px;
    border-color: white;
    padding-top: 5px;
    padding-left: 10px;
    box-sizing: border-box;
}

footer ul{
    margin: 0;
    padding: 4px;
    padding-left: 0;
    margin-top: 4px;
    margin-bottom: 8px;
}

footer li{
    display: inline;
}

.copyright{
    margin-top: 3px;
    font-size: 11px;
}

#complete-table{
    width: 600px;
    background: white;
}

#complete-table td{
    border: 0;
}

#abonentTable .tb-action{
    width: 70px;
}
#serviceTable .tb-action{
    width: 90px;
}
/*-------------------------------------------------------*/
/*tb-action. buttons*/
/*-------------------------------------------------------*/

.tb-action .deactivate{
    width: 85px;
}